.hero {

  color: #fff;
  height: 400px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  border: none;
  background-color: #FF6F61;
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.cta-button:hover {
  background-color: #FF4C3B;
}
